# Python Einführung
## Unterüberschrift
### Huhu Lothar
normaler text *kursiv* **fett** ***fett und kursiv***
- Punkt 1
- Punkt 2
- Punkt 3

In [1]:
print("Hello world!")

Hello world!

In [2]:
# Das ist ein Kommentar
print("hello haha")

hello haha

In [3]:
name = "Lovelace"

In [4]:
print(name)

Lovelace

In [5]:
name

'Lovelace'

In [6]:
age = 73

In [7]:
size = 1.712

In [8]:
knows_math = True
likes_gardening = False

In [9]:
print(knows_math)

True

In [10]:
5 + 5

10

In [11]:
age * 10

730

In [12]:
name + name

'LovelaceLovelace'

In [13]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [14]:
name + "10"

'Lovelace10'

In [15]:
name + " 10"

'Lovelace 10'

In [16]:
name + str(10)

'Lovelace10'

In [17]:
size / age

0.023452054794520547

In [18]:
type(age)

int

In [19]:
type(size)

float

In [20]:
type(name)

str

In [21]:
str(type(age)) + str(type(size))

"<class 'int'><class 'float'>"

In [22]:
name

'Lovelace'

In [23]:
len(name)

8

In [24]:
name.upper()

'LOVELACE'

In [25]:
name.count("e")

2

In [26]:
name_upper = name.upper()

In [27]:
print(name_upper)

LOVELACE

In [28]:
# Funktionen

In [29]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [30]:
name.replace("lace", "is everywhere")

'Loveis everywhere'

In [31]:
name.replace("lace"," is everywhere")

'Love is everywhere'

In [32]:
# Listen und Dictionaries

In [33]:
names = ["Lovelace","Darwin","Curie","Hawking"]

In [34]:
names[2]

'Curie'

In [36]:
names[0]

'Lovelace'

In [37]:
names[-1]

'Hawking'

In [38]:
names[3]

'Hawking'

In [39]:
names[0:2]

['Lovelace', 'Darwin']

In [40]:
authors_and_birth_years = {"Lovelace":1802,"Darwin":1809,
                           "Noether":1882}

In [41]:
authors_and_birth_years["Darwin"]

1809

In [42]:
authors_and_birth_years = {"Lovelace":1802,"Darwin":1809,
                           "Noether":names}

In [43]:
authors_and_birth_years["Lovelace"]

1802

In [44]:
authors_and_birth_years["Noether"]

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [46]:
authors_and_birth_years["Noether"][3]

'Hawking'

In [47]:
# for-Schleife

In [48]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [51]:
for person in names:
    print(person + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [52]:
for pipifax in names:
    print(pipifax + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [53]:
for person in names:print(person + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [58]:
for person in names:
    print(person + " did awesome stuff")
    print("---------")

Lovelace did awesome stuff
---------
Darwin did awesome stuff
---------
Curie did awesome stuff
---------
Hawking did awesome stuff
---------

In [59]:
for person in names:
    print(person + " did awesome stuff")
print("---------")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff
---------

In [62]:
for person in names[:2]:
    print(person + " did awesome stuff")
    print("---------")

Lovelace did awesome stuff
---------
Darwin did awesome stuff
---------

In [64]:
iteration_counter=0
for person in names:
    print(person + " did awesome stuff")
    iteration_counter=iteration_counter + 1
    if iteration_counter > 1:
        break

Lovelace did awesome stuff
Darwin did awesome stuff

In [65]:
for person in names:
    if "a" in person:
        print(person)

Lovelace
Darwin
Hawking

In [66]:
# Bedingte Anweisungen (Conditionals)

In [67]:
temp=20
if temp > 15:
    print ("it's warm")

it's warm

In [68]:
20>15

True

In [69]:
10>15

False

In [70]:
temp=10
if temp > 15:
    print ("it's warm")

In [71]:
temp=10
if temp > 15:
    print ("it's warm")
else: 
    print("it's cold")

it's cold

In [72]:
temp=10
if temp > 15: print ("it's warm")
else: print("it's cold")

it's cold